html {
    font-family: 'Roboto', sans-serif;
}

.title {
    background-color: #109E97;
    height: 132px;
    width: 100%;
    border-bottom: 2px solid black;
}

.title a p {
    font-family: 'Lobster', cursive;
    line-height: 61px;
    font-size: 49px;
    color: #FFFFFF;
}

.title a {
    text-decoration: none;
    position: absolute  ;
    top: 33px;
    left: 40%;
}

.davidprice {
    border: 2px solid #B0E9B0;
}

.david {
    font-size: 23px;
    line-height: 27px;
    line-height: 27px;
}

.price {
    font-family: 'Verdana', sans-serif;
    color: #008000;
    font-size: 25px;
    line-height: 29px;
}

p span.discount{
    color: #FF0000;
    font-size: 15px;
    text-decoration: line-through;
}

.first {
    width: 1103px;
    height: 450px;
    position: relative;
    margin: auto;
    margin-top: 100px;
    border: 2px solid #FFD6D6;
}


.first1 img{
    width: 300px;
    height: 100%;
}

.first2 {
    width: 718px;
    height: 100%;
    position: absolute;
    right: 0px;
    top: 0;
}


.about {
    background-color: white;
    width: 718px;
    height: 300px;
    border: 2px solid #B0E9B0;
    position: absolute;
    bottom: 0px;
    
}

.about h2 {
    text-transform: uppercase;
    color: black;
    text-align: left;
    font-size: 20px;
    line-height: 23px;
    font-style: normal;
}


.about p {
    color: black;
    text-align: left;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 2px;
}

.sebet {
    font-size: 16px;
    line-height: 23px;
    width: 149px;
    height: 48px;
    border: 1px solid #109E97;
    border-radius: 4px;
    background-color: #109E97;
    color: white;
    position: absolute;
    bottom: 0px;
}

.second {
    width: 1103px;
    margin: auto;
    margin-top: 100px;
}

.second h4 {
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    margin-bottom: 15px;
}

.second table {
    width: 100%;
}

.second table tr {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    line-height: 32px;
}

th {
    border: 1px solid black;
}

.global {
    display: flex;
    width: 1103px;
    height: 455px;
    justify-content: space-between;
    margin: auto;
    margin-top: 100px;
}


.global .left img {
    width: 300px;
    height: 100%;
} 
.global .right img {
    width: 300px;
    height: 100%;
} 
.global .center {
    text-align: center;
    line-height: 25px;
    font-size: 14px;
    height: 478px;
}

.global .center h4 {
    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

footer {
    margin-top: 100px;
}
footer p {
    color: white;
    text-align: center;
    font-size: 14px;
    padding: 25px 20px;
    line-height: 16.41px;
    background-color: #109E97;
}

.submit {
    border: 1px solid #109E97;
    width: 91px;
    height: 48px;
    background-color: #109E97;
    border-radius: 4px;
    color: white;
}

.linkler {
    position: fixed;
    top: 300px;
    right: 25px;
}
.icon {
    font-size: 50px;
    border-radius: 50%;
}